{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #} {% extends 'layouts/application.html' %} {% block title %}{{ title_str_forma_napisaniya_video_otzyvy }}{% endblock %} {% block content %}
<!-- breadcrumbs and h1 -->
{% include 'layouts/breadcrumbs_and_h1.html' %}
<!-- ###breadcrumbs and h1 -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 close_me_content">
                <!-- dobavit tehniku -->
                <section class="dobav_tehniku">
                    <div class="first_form_block">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 fix">
                                <i class="fa fa-youtube-play fa_white orange_col" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
                                <p class="text_p"><span>Снимите видео отзыв о ремонте и добавьте его на сайт!</span>Всем нашим клиентам снявшим видео-отзыв о проделанной работе, мы выплатили 20% от стоимости работы! Успейте и Вы!</p>
                            </div>
                        </div>
                    </div>
                    <form class="material_form" action="" method="">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="Виктория" required>
                                    <hr>
                                    <label>Имя</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="Викторовна" required>
                                    <hr>
                                    <label>Отчество</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                     <input type="text" class="number_phone" placeholder="+7(___)___-__-__" required>
                                    <hr>
                                    <label>Телефон</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="myemail@email.com" required>
                                    <hr>
                                    <label>Почта</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <fieldset class="material">
                                    <input type="text" placeholder="Ссылка на Ваш видео-отзыв в Вконтакте или на Youtube" required>
                                    <hr>
                                    <label>Ссылка на Ваш видео-отзыв в Вконтакте или на Youtube</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row clearfix capcha_btn">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 capcha_btn">
                                <div class="capcha">
                                    капча
                                </div>
                                <button type="button" class="btn butn_brd_orange ">ВЕРНУТЬ 20% <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="dopolnitelno">
                        <p class="first">Дополнительно: </p>
                        <p class="text_p">Напишите инфо-отзыв о состоявшемся ремонте и мы вернём Вам 10% от стоимости ремонта. <a href="#">Написать отзыв <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
                    </div>
                </section>
                <!-- ###dobavit tehniku -->
            </div>
            <div class="col-md-4 col-lg-4 close_me">
                {% include 'layouts/sidebar.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer-block.html' %} {% endblock %}
