{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #} {% extends 'layouts/personal_account_layout.html' %} {% block title %}{{ title_personal_account }}{% endblock %} {% block content %}
<div class="bg_container">
    <div class="container content_personal_account">
        <div class="row">
            <div class="col-md-4 col-lg-4 every_day">
                <div class="block_every_day">
                    <div class="title_i clearfix">
                        <h3>Зарабатывайте каждый день</h3>
                        <a class="star" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                    </div>
                    <div class="block_jobs">
                        <!-- 1 -->
                        <div class="job">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>Подпишитесь в Браузере на уведомления об обмене рублей на уникальные товары! Не упустите возможность, <a href="#">Подписаться <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                                <a class="close_btn_job" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <!-- ###1 -->
                        <!-- 2 -->
                        <div class="job">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-vk" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>Расскажите о нашем сайте в социальной сети Вконтакте, чтобы не потерять ссылку и быть всегда вкурсе, <a class="vk_btn_open" href="#">Рассказать друзьям <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                                <a class="close_btn_job" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                            <div class="vk_comments closed_block">
                                <ol>
                                    <li>
                                        <p class="bold">
                                            Скопируйте данный текст в форму ввода комментария:
                                        </p>
                                        <p>
                                            Я получу холодильник даром в течении нескольких дней!
                                        </p>
                                        <p>Тут нет выигравших или проигравших, вот ссылка: </p>
                                        <p>
                                            <a target="_blank" href="www.remont-holodilnikov-garant.ru/registration">www.remont-holodilnikov-garant.ru/registration</a>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="bold">
                                            Поставьте галочку, возле кнопки отправить:
                                        </p>
                                    </li>
                                </ol>
                                <div class="vk_image">
                                    <img src="images/vk.png" alt="" class="img-responsive">
                                </div>
                                <div class="vk_widget">
                                    Здесь будет виджет VK комментарии. Не могу вставить потому как работают только на сервере. На локальном сервере не работает.
                                </div>
                            </div>
                        </div>
                        <!-- ###2 -->
                        <!-- 3 -->
                        <div class="job">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>Оставьте Ваш email для уникальных предложений, которые будут доступны только Вам, <a class="open_mail" href="#">Оставить email <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                                <a class="close_btn_job" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                            <div class="mail_block">
                                <form class="material_form" action="" method="">
                                    <fieldset class="material">
                                        <input type="text" placeholder="Введите Ваш основной email" required>
                                        <hr>
                                        <label>Введите Ваш основной email</label>
                                    </fieldset>
                                     <button type="button" class="btn butn_brd_orange ">Оставить <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- ###3 -->
                        <!-- 4 -->
                        <div class="job overview_block">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>Представьте, что Вы владеете данной стиральной машиной , опишите все её плюсы и минусы, <a href="#">Перейти к написанию <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="overview">
                                Комментариев за сегодня: <span>0/2</span>
                            </div>
                        </div>
                        <!-- ###4 -->
                        <!-- 5 -->
                        <div class="job opinion_block">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>Представьте, что Вы отремонтировали стиральную машину в нашем сервисе и Вам всё понравилось, напишите красивый или нейтральный отзыв, <a href="#">Перейти к написанию отзыва <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                                <a class="close_btn_job" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                            <div class="opinion">
                                Комментариев за сегодня: <span>0/2</span>
                            </div>
                        </div>
                        <!-- ###5 -->
                        <!-- 6 -->
                        <div class="job">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>За каждый час проведённый на данной странице, Вы получаете 5 рублей. Время: <span class="timer">00:00:05</span>
                                    </p>
                                </div>
                                <a class="close_btn_job" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <!-- ###6 -->
                        <!-- 7 -->
                        <div class="job">
                            <div class="fix_block">
                                <div class="flex_fix">
                                    <div class="bdrs">
                                        <i class="fa fa-ruble" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="text_job">
                                    <p>Дополнительные средства всегда можно получить, каждые 4 часа! Нажмите на кнопку, когда она появится.
                                    </p>
                                </div>
                                <a class="close_btn_job" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                            <a href="#" class="btn_free_rub">Получить рубли</a>
                        </div>
                        <!-- ###7 -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 passive_income">
                <div class="passive_income_block">
                    <div class="title_i clearfix">
                        <h3>Пассивный доход</h3>
                        <a class="info_icon" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </div>
                    <div class="pers_block">
                        <div class="pers_info">
                            Получайте 15 рублей ежедневно, в виде пассивного дохода, за каждый написанный комментарий или отзыв в разделах: <a href="#">Б/У техника</a>, <a href="#">Отзывы</a>
                        </div>
                        <a class="close_btn" href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
                    </div>
                    <div class="search_click_block">
                        <div class="search_block ruble_block">
                            <i class="fa fa-rouble" aria-hidden="true"></i>
                            <span class="num">0</span>
                        </div>
                        <div class="search_block eye_block">
                            <a href="#">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                <span class="num">0</span>
                            </a>
                        </div>
                        <div class="search_block warning_block">
                            <a href="#">
                                <i class="fa fa-warning" aria-hidden="true"></i>
                                <span class="num">0</span>
                            </a>
                        </div>
                        <div class="search_block warning_block">
                            <a href="#">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <span class="num">0</span>
                            </a>
                        </div>
                    </div>
                    <div class="comment_rel_block">
                        <div class="time_icon_block clearfix">
                            <time>25.04.2017</time>
                            <div class="icon_time orange_col">
                                <span>+15</span>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="comment_text">
                            <p>Здравствуйте! Сегодня целый день мыла полы, убирала в квартире, бегала за ребёнком и. Позже был отдых в парке - это моё всё, наслождаюсь по 2 часа в день пока ребёнок спит. А потмо идут в магазин за продуктами и товарами личной необходимости.</p>
                            <div class="hiden_block">
                                <p> Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
                                </p>
                                <p>Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
                            </div>
                            <div class="open_edit">
                                <a class="open_text" href="#"> Подробнее
                                    <i class="fa on_dis fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa off_dis fa-angle-up" aria-hidden="true"></i>
                                </a>
                                <div class="edit">
                                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment_rel_block">
                        <div class="time_icon_block clearfix">
                            <time>25.04.2017</time>
                            <div class="icon_time red_col">
                                <span>0</span>
                                <i class="fa fa-warning" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="comment_text">
                            <p>Здравствуйте! Сегодня целый день мыла полы, убирала в квартире, бегала за ребёнком и. Позже был отдых в парке - это моё всё, наслождаюсь по 2 часа в день пока ребёнок спит. А потмо идут в магазин за продуктами и товарами личной необходимости.</p>
                            <div class="hiden_block">
                                <p> Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
                                </p>
                                <p>Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
                            </div>
                            <div class="open_edit">
                                <a class="open_text" href="#"> Подробнее
                                    <i class="fa on_dis fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa off_dis fa-angle-up" aria-hidden="true"></i>
                                </a>
                                <div class="edit">
                                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert_warning">
                        <i class="fa fa-warning" aria-hidden="true"></i>
                        <div class="warning_text">
                            <p>Здравствуйте Владимир! Пожалуйста не копируйте текст с других сайтов, пишите от себя, в противном случае начисления происходить не будут.
                            </p>
                            <p>Отредактируйте текст, нажав на карандаш и отправьте на повторную модерацию.</p>
                        </div>
                    </div>
                    <div class="textarea_rep">
                        <form>
                            <textarea>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Образ, на берегу до путь жаренные страну, свой первую взгляд она большой даль, языком залетают. Он строчка безорфографичный проектах щеке города.</textarea>
                            <div class="bottom_block_textarea">
                                <div class="one">Доход в день: 15 <i class="fa fa-ruble" aria-hidden="true"></i> </div>
                                <div class="v_slash">|</div>
                                <div class="two">Лимит: 1500 символов</div>
                                <div class="v_slash">|</div>
                                <div class="three">
                                    <button type="button" class="btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="comment_rel_block">
                        <div class="time_icon_block clearfix">
                            <time>25.04.2017</time>
                            <div class="icon_time green_col">
                                <span>+190</span>
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="comment_text">
                            <p>Здравствуйте! Сегодня целый день мыла полы, убирала в квартире, бегала за ребёнком и. Позже был отдых в парке - это моё всё, наслождаюсь по 2 часа в день пока ребёнок спит. А потмо идут в магазин за продуктами и товарами личной необходимости.</p>
                            <div class="hiden_block">
                                <p> Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
                                </p>
                                <p>Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
                            </div>
                            <div class="open_edit">
                                <a class="open_text" href="#"> Подробнее
                                    <i class="fa on_dis fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa off_dis fa-angle-up" aria-hidden="true"></i>
                                </a>
                                <div class="edit">
                                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 exchange">
                <aside>
                    <div class="exchange_block">
                        <div class="title_i clearfix">
                            <h3>Обменяйте заработанное</h3>
                            <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        </div>
                        <div class="fade_me products_col">
                            <div class="block_product" style="background-image: url(../images/machine_wash_bg.jpg);">
                                <div class="brd_fix">
                                    <div class="flex_container">
                                        <div class="title">
                                            <h4>СТИРАЛЬНАЯ МАШИНА INDESIT</h4>
                                        </div>
                                        <div class="description">
                                            2008 год, 5 кг, хорошее состояние, в наличии, гарантия 6 месяцев, доставка бесплатно.
                                        </div>
                                        <div class="price_btn">
                                            <div class="price_block">
                                                <div class="text_price">
                                                    Цена на сайте: <span class="money_old">6500</span> <i class="fa fa-ruble" aria-hidden="true"></i>
                                                </div>
                                                <div class="price">
                                                    <span class="num">8500</span> <span class="ruble_i"><i class="fa fa-ruble" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <a class="btn_fix" href="#">Обменять</a>
                                        </div>
                                        <div class="view_in_site_btn">
                                            <a href="#">просмотреть на сайте <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fade_me products_col">
                            <div class="block_product" style="background-image: url(../images/machine_wash_bg.jpg);">
                                <div class="brd_fix">
                                    <div class="flex_container">
                                        <div class="title">
                                            <h4>СТИРАЛЬНАЯ МАШИНА INDESIT</h4>
                                        </div>
                                        <div class="description">
                                            2008 год, 5 кг, хорошее состояние, в наличии, гарантия 6 месяцев, доставка бесплатно.
                                        </div>
                                        <div class="price_btn">
                                            <div class="price_block">
                                                <div class="text_price">
                                                    Цена на сайте: <span class="money_old">6500</span> <i class="fa fa-ruble" aria-hidden="true"></i>
                                                </div>
                                                <div class="price">
                                                    <span class="num">8500</span> <span class="ruble_i"><i class="fa fa-ruble" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <a class="btn_fix" href="#">Обменять</a>
                                        </div>
                                        <div class="view_in_site_btn">
                                            <a href="#">просмотреть на сайте <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer_personal_account m_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 left_rating">
                    <div class="rating_block">
                        <div class="title_i clearfix">
                            <h3>Участники</h3>
                            <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        </div>
                        <ul>
                            <li>
                                <div class="avatar">
                                    <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=ava">
                                </div>
                                <div class="name">Владимир Русланович</div>
                                <div class="coins"><span>1250</span><i class="fa fa-ruble" aria-hidden="true"></i></div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=ava">
                                </div>
                                <div class="name">Владимир Русланович</div>
                                <div class="coins"><span>1250</span><i class="fa fa-ruble" aria-hidden="true"></i></div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=ava">
                                </div>
                                <div class="name">Владимир Русланович</div>
                                <div class="coins"><span>1250</span><i class="fa fa-ruble" aria-hidden="true"></i></div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=ava">
                                </div>
                                <div class="name">Владимир Русланович</div>
                                <div class="coins"><span>1250</span><i class="fa fa-ruble" aria-hidden="true"></i></div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=ava">
                                </div>
                                <div class="name">Владимир Русланович</div>
                                <div class="coins"><span>1250</span><i class="fa fa-ruble" aria-hidden="true"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="title_i clearfix">
                        <h3>Видео-отзывы</h3>
                        <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </div>
                    <div class="img_player">
                        <a href="#">
                            <img class="img-responsive" src="https://api.fnkr.net/testimg/335x200/00CED1/FFF/?text=335+x+200">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 discounts">
                    <div class="title_i clearfix">
                        <h3>Скидка на ремонт</h3>
                    </div>
                    <p>В Благодарность, что Вы с нами - мы дарим Вам персональную скидку, <span>в 500 рублей</span>, на ремонт стиральной машины в Севастополе!
                    </p>
                    <p>В комменатарие к заявке подпишите код: SKIDKA500</p>
                    <a href="#" class="btn_free_rub">Вызвать мастера  на дом со скидкой <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_modal"></div>
</div>
{% endblock %}
