{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #} {% extends 'layouts/application.html' %} {% block title %}{{ title_str_statya_neispravnosti }}{% endblock %} {% block content %}
<!-- breadcrumbs and h1 -->
{% include 'layouts/breadcrumbs_and_h1.html' %}
<!-- ###breadcrumbs and h1 -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 close_me_content">
                <article class="malfunction_article fade_me">
                    <p class="text_p">
                        Стиральная машина остановилась, и вы привычно планировали развесить чуть влажное белье… но вместо этого обнаружили, что вещи в стиралке «плавают» в воде, возможно, даже мыльной.
                    </p>
                    <p class="text_p">
                        Что же могло произойти со стиральной машиной, что она начала «халявить» и перестала сливать воду? Речь может идти как о поломке, так и о штатной ситуации. Для начала, давайте убедимся, что вы сами не «намудрили».
                    </p>
                    <h2><span class="orange_col">ИЩЕМ</span> ПРИЧИНУ САМОСТОЯТЕЛЬНО</h2>
                    <ul class="list_check fade_me">
                        <li>
                            <i class="fa orange_col fa-check-square-o"></i>
                            <p class="text_p">
                                Проверьте, верно ли выбран режим? Практически во всех машинках есть режим стирки с остановкой с водой, то есть без отжима. Обычно такой режим применяется для деликатных тканей или шерсти: бережное полоскание без отжима не деформирует вещи – они не растягиваются и не сминаются. Если выбран режим с остановкой с водой необходимо нажать кнопку «Пуск/Остановка/Отмена» и запустить программу слива воды.
                            </p>
                        </li>
                        <li>
                            <i class="fa orange_col fa-check-square-o"></i>
                            <p class="text_p">
                                Проверьте, в порядке ли сливной шланг? Возможно, он «перекручен» или передавлен – так что вода не может физически пройти через перегиб.
                            </p>
                        </li>
                        <li>
                            <i class="fa orange_col fa-check-square-o"></i>
                            <p class="text_p">
                                Проверьте, не возник ли засор в канализации или сифоне (если сливной шланг подключен к сифону)? Для этого необходимо отсоединить шланг и свесить его в ванную или раковину, после чего включить любой режим. Если вода из шланга свободно пойдет – значит, засор в канализационной системе. Ее необходимо прочистить – либо самостоятельно, либо – вызывать сантехника.
                            </p>
                        </li>
                    </ul>
                    <div class="img_malfunction fade_me">
                        <img src="images/stiralnaya-mashina-ne-slivaet-vodu.jpg" alt="" class="img-responsive">
                    </div>
                    <h2><span class="orange_col">ПОЧЕМУ</span> СТИРАЛЬНАЯ МАШИНА НЕ СЛИВАЕТ, ПОЛОМКИ И ПРАЙС-ЛИСТ</h2>
                    <div class="table-responsive fade_me">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="reason">Засор фильтра слива воды или патрубка</td>
                                    <td class="text_td">
                                        <p class="text_p">В системе возник засор. Как правило, перед сливным насосом располагается фильтр. Он задерживает нитки, ворсинки и мелкие предметы, которые при попадании в сливную помпу могут вывести ее и з строя. Возможно, этот фильтр забился настолько, что не пропускает воду. Необходимо его прочистить. Для этого нужно выкрутить фильтр и промыть под струей воды. Если засор возник в патрубке, тогда необходимо вскрывать корпус машинки. В этом случае скорее всего без мастера не обойтись..</p>
                                    </td>
                                    <td class="price orange_col bold">Самостоятельно или от 1200 р.</td>
                                </tr>
                                <tr>
                                    <td class="reason">Засор фильтра слива воды или патрубка</td>
                                    <td class="text_td">
                                        <p class="text_p">В системе возник засор. Как правило, перед сливным насосом располагается фильтр. Он задерживает нитки, ворсинки и мелкие предметы, которые при попадании в сливную помпу могут вывести ее и з строя. Возможно, этот фильтр забился настолько, что не пропускает воду. Необходимо его прочистить. Для этого нужно выкрутить фильтр и промыть под струей воды. Если засор возник в патрубке, тогда необходимо вскрывать корпус машинки. В этом случае скорее всего без мастера не обойтись..</p>
                                    </td>
                                    <td class="price orange_col bold">Самостоятельно или от 1200 р.</td>
                                </tr>
                                <tr>
                                    <td class="reason">Засор фильтра слива воды или патрубка</td>
                                    <td class="text_td">
                                        <p class="text_p">В системе возник засор. Как правило, перед сливным насосом располагается фильтр. Он задерживает нитки, ворсинки и мелкие предметы, которые при попадании в сливную помпу могут вывести ее и з строя. Возможно, этот фильтр забился настолько, что не пропускает воду. Необходимо его прочистить. Для этого нужно выкрутить фильтр и промыть под струей воды. Если засор возник в патрубке, тогда необходимо вскрывать корпус машинки. В этом случае скорее всего без мастера не обойтись..</p>
                                    </td>
                                    <td class="price orange_col bold">Самостоятельно или от 1200 р.</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- alert_table -->
                        {% include 'layouts/alert_table.html' %}
                        <!-- ###alert_table -->
                    </div>
                    <div class="block_text_article fade_me">
                        <p class="text_p">
                            Как видите, причины того, почему не работает слив стиральной машины довольно разнообразные. Если речь идет не об элементарном засоре, то определить самостоятельно, что же произошло - фактически невозможно: для этого нужно специальное диагностическое оборудование, знания и опыт. Так что в случае если стиральная машинка «забарахлила» – смело обращайтесь в «РемБытТех»:
                        </p>
                        <p class="text_p">
                            Наши специалисты по ремонту стиральных машин знают слабые места техники любых марок и определят точную причину неисправности прямо у вас на дому. К тому же, диагностику мы проводим совершенно бесплатно!
                        </p>
                        <a href="#" class="btn_white">Вызвать мастера на дом - скидка 500 руб.</a>
                        <p class="text_p">
                            В случае вашего согласия мастер в считанные часы устранит поломку, и ваш быт вернется в привычное русло: никакой ручной стирки белья и прочих малоприятных занятий!
                        </p>
                    </div>
                    <div class="maybe fade_me">
                        <h2><span class="orange_col">ПРОВЕРЬТЕ,</span> ВОЗМОЖНО ПРОБЛЕМА В ЭТОМ</h2>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="left">Проблема с электроникой</span> <span class="right"><a class="orange_col" href="#">Подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
                                    </td>
                                    <td>
                                        <span class="left">Проблема со шлангом</span> <span class="right"><a class="orange_col" href="#">Подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
                                    </td>
                                </tr> <tr>
                                    <td>
                                        <span class="left">Проблема с датчиком</span> <span class="right"><a class="orange_col" href="#">Подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
                                    </td>
                                    <td>
                                        <span class="left">Проблема с розеткой</span> <span class="right"><a class="orange_col" href="#">Подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                <!--  -->
                {% include 'layouts/not-found-alert.html' %}
                <!--  -->
                {% include 'layouts/prodazha-by.html' %}
                <!--  -->
                {% include 'layouts/video-otzyvy.html' %}
                <!--  -->
                {% include 'layouts/info-otzyvy.html' %}
                <!--  -->
               
            </div>
            <div class="col-md-4 col-lg-4 close_me">
                {% include 'layouts/sidebar.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer-block.html' %} {% endblock %}
