{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #} {% extends 'layouts/application.html' %} {% block title %}{{ title_str_zadat_vopros }}{% endblock %} {% block content %}
<!-- breadcrumbs and h1 -->
{% include 'layouts/breadcrumbs_and_h1.html' %}
<!-- ###breadcrumbs and h1 -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 close_me_content">
                <!-- zadat vopros -->
                <section class="dobav_tehniku">
                    <div class="first_form_block">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 fix">
                                <i class="fa fa-question-circle fa_white orange_col" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11">
                                <p class="text_p"><span>У Вас есть вопрос? Задайте его напрямую частному мастеру!</span>Мастер ответит на любой интересующий Вас вопрос, касательно ремонта стиральной машины. Примерное время ответа: 5-15 минут.</p>
                            </div>
                        </div>
                    </div>
                    <form class="material_form" action="" method="">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="Виктория" required>
                                    <hr>
                                    <label>Имя</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="myemail@email.com" required>
                                    <hr>
                                    <label>Почта</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <fieldset class="material">
                                    <input type="text" placeholder="Задайте Ваш вопрос в максимально раскрытой форме" required>
                                    <hr>
                                    <label>Задайте Ваш вопрос в максимально раскрытой форме</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row clearfix capcha_btn">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 capcha_btn">
                                <div class="capcha">
                                    капча
                                </div>
                                <button type="button" class="btn butn_brd_orange ">ОТПРАВИТЬ <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- ###zadat vopros -->
                {% include 'layouts/action_block.html' %}
            </div>
            <div class="col-md-4 col-lg-4 close_me">
                {% include 'layouts/sidebar.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer-block.html' %} {% endblock %}
