<!-- action block -->
<div class="action_block m_bottom">
    <div class="brd_block">
        <h3>Уважаемый клиент! Пока мы обрабатываем ваш вопрос, обратите <span class="under">внимание</span>:</h3>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="icon">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                </div>
                <div class="text_block">
                    <p>Напишите инфо-отзыв о проделанном ремонте и мы вернём Вам 10% от суммы работы. </p>
                </div>
                <a href="#">Почитать примеры <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="icon">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </div>
                <div class="text_block">
                    <p>Снимите видео-отзыв о проделанной работе   и мы вернём Вам 20% от суммы работы. </p>
                </div>
                <a href="#">Просмотреть примеры <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- ###action block -->
