<header class="header_personal_account">
    <div class="container head_mod_dnon">
        <div class="col-sm-4 col-md-4 col-lg-4 first_block_header">
            <div class="name_ava_coins clearfix">
                <div class="ava">
                    <div class="brd_ava">
                        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="name_coins">
                    <div class="name">
                        Владимир Русланович
                    </div>
                    <div class="coins_history">
                        <div class="coins">
                            <span class="ruble_i"><i class="fa fa-ruble" aria-hidden="true"></i></span> <span class="money">1450</span>
                        </div>
                        <div class="history">
                            <a class="history_btn" href="#">История</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 big_ruble">
            <div class="block_ruble active">
                <i class="fa fa-ruble" aria-hidden="true"></i>
            </div>
            <div class="block_text">
                <p>Приходите завтра, чтобы получить <span>25 рублей</span></p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 last_header_block">
            <ul>
                <li><a class="rules_btn" href="#">Правила</a></li>
                <li><a class="wishes_btn" href="#">Ваши пожелания</a></li>
                <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="info_modal modls">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-8 col-lg-8">
                    <div class="title_i clearfix">
                        <h3>История</h3>
                        <span class="text_modal_right">Последние 30 дней</span>
                    </div>
                    <div class="history_list">
                        <ul>
                            <li>
                                <div class="list_block">
                                    <div class="bdrs">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="history_text">
                                        <p>Подписка на уведомления в Браузере</p>
                                        <div class="time">
                                            30 апреля
                                        </div>
                                    </div>
                                    <div class="history_money">
                                        <p>+150</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_block">
                                    <div class="bdrs">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="history_text">
                                        <p>Подписка на уведомления в Браузере</p>
                                        <div class="time">
                                            30 апреля
                                        </div>
                                    </div>
                                    <div class="history_money">
                                        <p>+150</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_block">
                                    <div class="bdrs">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="history_text">
                                        <p>Подписка на уведомления в Браузере</p>
                                        <div class="time">
                                            30 апреля
                                        </div>
                                    </div>
                                    <div class="history_money">
                                        <p>+150</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-4">
                    <div class="title_i clearfix">
                        <h3>Информация</h3>
                    </div>
                    <p>Здесь находится история за последние 30 дней всех ваших операций в личном кабинете. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="rules_modal modls">
        <div class="container">
            <div class="title_i clearfix">
                <h3>Правила</h3>
            </div>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Грамматики мир которой имеет, раз встретил по всей строчка текстами все ведущими страна подпоясал живет текста запятой, рот за! Ты, себя.</p>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Грамматики мир которой имеет, раз встретил по всей строчка текстами все ведущими страна подпоясал живет текста запятой, рот за! Ты, себя.</p>
        </div>
    </div>
    <div class="wishes_modal modls">
        <div class="container">
            <div class="title_i clearfix">
                <h3>Жалобы и предложения</h3>
            </div>
            <p class="mb">Если у Вас есть жалобы или предложения по работе или функционалу данного сервиса, напишите нам:</p>
            <form class="material_form" action="" method="">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="material">
                            <input type="text" placeholder="Введите тему жалобы или предложения" required>
                            <hr>
                            <label>Введите тему жалобы или предложения</label>
                        </fieldset>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <textarea name="text" class="feedback-input form-control" id="comment" placeholder="Максимально подробно распишите Ваши мысли"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row clearfix capcha_btn">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 capcha_btn">
                        <div class="capcha">
                            капча
                        </div>
                        <button type="button" class="btn butn_brd_orange ">Предложить <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="nav_res personal">
        <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
            <a class="navmenu-brand clearfix" href="/">
                <div class="logo_block">
                    <span class="logotype" href="/">РСМ</span>
                    <div class="logo_text_block clearfix">
                        <div class="logo">Ремонт стиральных машин</div>
                        <div class="logo2"><span class="orange_col">в Севастополе</span>, работаем с 2010 года</div>
                    </div>
                </div>
            </a>
            <div class="coins_mobile">
                <div class="bdrs">
                    <i class="fa fa-ruble" aria-hidden="true"></i>
                </div>
                <span>1450</span>
            </div>
            <div class="block_search_btn">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск">
                    </div>
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <a href="#" class="login">Выйти <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
            <ul class="nav navmenu-nav">
                <li><a title="Неисправности" href="#four">Неисправности</a></li>
                <li><a title="Цены" href="#three">Цены</a></li>
                <li><a title="Отзывы" href="#five">Отзывы</a></li>
                <li><a title="Б/У техника" href="#six">Б/У техника</a></li>
                <li><a title="Запчасти" href="#eight">Запчасти</a></li>
                <li><a title="Задать вопрос" href="#nine">Задать вопрос</a></li>
                <li><a title="Контакты" href="#nine">Контакты</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Часто задаваемые вопросы<b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a title="Расшифровка ошибок" href="#">Расшифровка ошибок</a></li>
                        <li><a title="Ремонт своими руками" href="#">Ремонт своими руками</a></li>
                        <li><a title="Какую машинку купить?" href="#">Какую машинку купить?</a></li>
                        <li><a title="Как правильно стирать?" href="#">Как правильно стирать?</a></li>
                        <li><a title="Какие вещи можно стирать?" href="#">Какие вещи можно стирать?</a></li>
                        <li><a title="Марки" href="#">Марки</a></li>
                    </ul>
                </li>
                <li><a href="#" class="btn bold btn_white">ВЫЗВАТЬ МАСТЕРА</a></li>
                <li>
                    <div class="vkontakte">
                        <a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="telephone_res">
                <p>
                    <a class="call" href="tel:+79787000257"> <i class="fa fa-mobile" aria-hidden="true"></i>
                    <span>+7 (978)</span> 145-53-68</a>
            </p>
            </span>
            <a class="logotype" href="/">РСМ</a>
        </div>
    </div>
</header>
