<header class="header_personal_account">
    <div class="container head_mod_dnon">
        <div class="col-sm-4 col-md-4 col-lg-4 first_block_header">
            <div class="name_ava_coins clearfix">
                <div class="ava">
                    <div class="brd_ava">
                        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="name_coins">
                    <div class="name">
                        Владимир Русланович
                    </div>
                    <div class="coins_history">
                        <div class="coins">
                            <span class="ruble_i"><i class="fa fa-ruble" aria-hidden="true"></i></span> <span class="money">1450</span>
                        </div>
                        <div class="history">
                            <a class="history_btn" href="#">История</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 big_ruble">
            <div class="block_ruble">
                <i class="fa fa-ruble" aria-hidden="true"></i>
            </div>
            <div class="block_text">
                <p>Приходите завтра, чтобы получить <span>25 рублей</span></p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 last_header_block">
            <ul>
                <li><a href="#">Правила</a></li>
                <li><a href="#">Ваши пожелания</a></li>
                <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</header>
