<div class="very_top_line">
    <nav class="container">
        <ul>
            <li><a title="Расшифровка ошибок" href="#">Расшифровка ошибок</a></li>
            <li><a title="Ремонт своими руками" href="#">Ремонт своими руками</a></li>
            <li><a title="Какую машинку купить?" href="#">Какую машинку купить?</a></li>
            <li class="d_non_link"><a title="Как правильно стирать?" href="#">Как правильно стирать?</a></li>
            <li class="d_non_link"><a title="Какие вещи можно стирать?" href="#">Какие вещи можно стирать?</a></li>
            <li><a title="Марки" href="#">Марки</a></li>
            <li><a class="login" title="Вход" href="#">Вход <i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
        </ul>
        <div class="search">
            <form class="searchbox">
                <input type="search" placeholder="Поиск......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                <input type="submit" class="searchbox-submit" value="Поиск">
                <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i> Поиск</span>
            </form>
        </div>
    </nav>
</div>
<header class="header">
    <div class="dnon_header">
        <div class="top_line container clearfix">
            <div class="logo_block">
                <a class="logotype" href="/">РСМ</a>
                <a href="/">
                    <div class="logo_text_block">
                        <h1 class="logo">Ремонт стиральных машин</h1>
                        <h2 class="logo2"><span>в Севастополе</span>, работаем с 2010 года</h2>
                    </div>
                </a>
            </div>
            <div class="vkontakte">
                <a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
            </div>
            <div class="work_time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <div class="time_work">
                    Время работы: 9.00 - 20.00, пн-вс.
                    <br> г.Севастополь, ул. Шабалина 3
                </div>
            </div>
            <div class="contact_block">
                <div class="telephone">
                    <a class="call" href="tel:+79787000257"> <i class="fa fa-mobile" aria-hidden="true"></i> <span>+7 (978)</span> 145-53-68</a>
                </div>
                <p><a href="#" data-toggle="modal" data-target="#myModal" class="btn">ВЫЗВАТЬ МАСТЕРА</a></p>
            </div>
        </div>
        <div class="fix">
            <div class="container nav_cont">
                <nav class="navigate">
                    <ul>
                        <li><a title="Неисправности" href="#four">Неисправности</a></li>
                        <li><a title="Цены" href="#three">Цены</a></li>
                        <li><a title="Отзывы" href="#five">Отзывы</a></li>
                        <li><a title="Б/У техника" href="#six">Б/У техника</a></li>
                        <li><a title="Запчасти" href="#eight">Запчасти</a></li>
                        <li><a title="Задать вопрос" href="#nine">Задать вопрос</a></li>
                        <li><a title="Контакты" href="#nine">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="nav_res">
        <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
            <a class="navmenu-brand clearfix" href="/">
                <div class="logo_block">
                    <span class="logotype" href="/">РСМ</span>
                    <div class="logo_text_block clearfix">
                        <div class="logo">Ремонт стиральных машин</div>
                        <div class="logo2"><span class="orange_col">в Севастополе</span>, работаем с 2010 года</div>
                    </div>
                </div>
            </a>
            <div class="block_search_btn">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск">
                    </div>
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <a href="#" class="login">Войти <i class="fa fa-user-circle" aria-hidden="true"></i></a>
            </div>
            <ul class="nav navmenu-nav">
                <li><a title="Неисправности" href="#four">Неисправности</a></li>
                <li><a title="Цены" href="#three">Цены</a></li>
                <li><a title="Отзывы" href="#five">Отзывы</a></li>
                <li><a title="Б/У техника" href="#six">Б/У техника</a></li>
                <li><a title="Запчасти" href="#eight">Запчасти</a></li>
                <li><a title="Задать вопрос" href="#nine">Задать вопрос</a></li>
                <li><a title="Контакты" href="#nine">Контакты</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Часто задаваемые вопросы<b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">
                        <li><a title="Расшифровка ошибок" href="#">Расшифровка ошибок</a></li>
                        <li><a title="Ремонт своими руками" href="#">Ремонт своими руками</a></li>
                        <li><a title="Какую машинку купить?" href="#">Какую машинку купить?</a></li>
                        <li><a title="Как правильно стирать?" href="#">Как правильно стирать?</a></li>
                        <li><a title="Какие вещи можно стирать?" href="#">Какие вещи можно стирать?</a></li>
                        <li><a title="Марки" href="#">Марки</a></li>
                    </ul>
                </li>
                <li><a href="#" class="btn bold btn_white">ВЫЗВАТЬ МАСТЕРА</a></li>
                <li>
                    <div class="vkontakte">
                        <a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="telephone_res">
                <p>
                    <a class="call" href="tel:+79787000257"> <i class="fa fa-mobile" aria-hidden="true"></i>
                    <span>+7 (978)</span> 145-53-68</a>
                </p>
            </span>
            <a class="logotype" href="/">РСМ</a>
        </div>
    </div>
</header>
