<header class="header_personal_account">
    <div class="container head_mod_dnon">
        <div class="col-sm-4 col-md-4 col-lg-4 first_block_header">
            <div class="name_ava_coins clearfix">
                <div class="ava">
                    <div class="brd_ava">
                        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="name_coins">
                    <div class="name">
                        Владимир Русланович
                    </div>
                    <div class="coins_history">
                        <div class="coins">
                            <span class="ruble_i"><i class="fa fa-ruble" aria-hidden="true"></i></span> <span class="money">1450</span>
                        </div>
                        <div class="history">
                            <a class="history_btn" href="#">История</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 big_ruble">
            <div class="block_ruble">
                <i class="fa fa-ruble" aria-hidden="true"></i>
            </div>
            <div class="block_text">
                <p>Приходите завтра, чтобы получить <span>25 рублей</span></p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 last_header_block">
            <ul>
                <li><a class="rules_btn" href="#">Правила</a></li>
                <li><a class="wishes_btn" href="#">Ваши пожелания</a></li>
                <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="info_modal modls">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-8">
                    <div class="title_i clearfix">
                        <h3>История</h3>
                        <span class="text_modal_right">Последние 30 дней</span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="title_i clearfix">
                        <h3>Информация</h3>
                    </div>
                    <p>Здесь находится история за последние 30 дней всех ваших операций в личном кабинете. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="rules_modal modls">
        <div class="container">
            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Бросил скатился, букв страна. Свой продолжил щеке гор меня языкового, первую они текстами ему, страна рыбными диких безорфографичный не запятой.
        </div>
    </div>
    <div class="wishes_modal modls">
        <div class="container">
            wishes_modal wishes_modal wishes_modal
        </div>
    </div>
</header>
