<div class="modal fade" id="myModal" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="header_modal">
                <p>Напишите отзыв о нашей работе</p>
                <a href="#" data-dismiss="modal" aria-label="Close" data-close="13"> <i class="fa fa-close" aria-hidden="true"></i></a>
            </div>
            <div class="form_modal">
                <form class="material_form" action="" method="">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="Виктория" required>
                                    <hr>
                                    <label>Имя</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="Викторовна" required>
                                    <hr>
                                    <label>Отчество</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                     <input type="text" class="number_phone" placeholder="+7(___)___-__-__" required>
                                    <hr>
                                    <label>Телефон</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <fieldset class="material">
                                    <input type="text" placeholder="myemail@email.com" required>
                                    <hr>
                                    <label>Почта</label>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <fieldset class="material">
                                    <input type="text" placeholder="Напишите максимально подробный отзыв" required>
                                    <hr>
                                    <label>Напишите максимально подробный отзыв</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row clearfix capcha_btn">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 capcha_btn">
                                <div class="capcha">
                                    капча
                                </div>
                                <button type="button" class="btn butn_brd_orange ">ОТПРАВИТЬ <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
