<nav class="nav_aticle fade_me clearfix">
    <ul class="left">
        <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Назад</a></li>
        <li><a href="#">Вперёд <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="right">
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
    </ul>
</nav>
