<section class="opredel_neispr m_bottom fade_me">
    <h1><span class="orange_col">ОПРЕДЕЛИТЕ</span> НЕИСПРАВНОСТЬ САМОСТОЯТЕЛЬНО</h1>
    <div class="text_p_block">
        <p class="text_p">Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее: Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
        </p>
        <p class="text_p">Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
    </div>
    <!-- allert vozmozhno -->
    {% include 'layouts/alert_vozmozhno.html' %}
    <!-- ###allert vozmozhno -->
</section>
