{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title_index }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/app.css">
    <!-- шрифт только на этой странице -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> {% include "shared/app-icons.html" %} {% block head %}{% endblock %}
</head>

<body id="top" name="top">
    <!-- header -->
    {% include 'layouts/header_personal_account.html' %}
    <!-- ###header -->
    <!-- content -->
    <div id="wrap_content" class="account">
        {% block content %}{% endblock %}
    </div>
    <!-- ###content -->
    <!-- footer -->
    {% include 'layouts/footer.html' %}
    <!-- ###footer -->
    {% block javascript %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="javascripts/app.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        function timer() {

            var getStringTimer = $('.timer').html();
            var objTimer = getStringTimer.split(':');
            var hourTimer = parseInt(objTimer[0]);
            var minTimer = parseInt(objTimer[1]);
            var secTimer = parseInt(objTimer[2]);

            if (secTimer == 59) {
                var secTimer = 0;
                if (minTimer == 59) {
                    var minTimer = 0;
                    ++hourTimer;
                } else {
                    ++minTimer;
                }
            } else {
                ++secTimer;
            }
            if (secTimer < 10) {
                var secTimer = "0" + secTimer;
            }
            if (minTimer < 10) {
                var minTimer = "0" + minTimer;
            }
            if (hourTimer < 10) {
                var hourTimer = "0" + hourTimer;
            }
            $('.timer').text(hourTimer + ':' + minTimer + ':' + secTimer)
        }
        setInterval(timer, 1000);
    });
    </script>
    {% endblock %}
{% include 'layouts/mymenu.html' %}
</body>

</html>
