<footer class="personal_footer">
    <div class="container">
        <div class="top clearfix">
            <div class="logo">
                <a class="logotype bg_yellow" href="/">РСМ</a>
                <a href="/">
                    <div class="text">
                        <h2>Ремонт стиральных машин</h2>
                        <h3><span class="yellow_col">в Севастополе,</span> работаем с 2010 года<span
                                class="orange_col"></span></h3>
                    </div>
                </a>
            </div>
            <div class="vk">
                <a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
            </div>
           
            <div class="navigate_footer">
                <nav>
                    <ul>
                        <li class="home_icon"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="#">Цены</a></li>
                        <li><a href="#">Неисправности</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Б/У техника</a></li>
                        <li><a href="#">Запчасти</a></li>
                        <li><a href="#">Задать вопрос</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bott_line">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 clearfix">
                    <div class="year_map">
                        <div class="year">
                            &copy 2010-2017
                        </div>
                        <div class="map">
                            <a href="#">Карта сайта</a>
                        </div>
                        <div class="filial">
                            <a href="#">Филлиалы</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="copyryght clearfix">
                        <p>Все права на материалы, находящиеся на сайте частного мастера охраняются в соответствии с законодательством России, в том числе Законом об авторском праве и смежных правах. Предложение не является публичной офертой, информация носит справочный характер. Любое использование материалов, в том числе фотографий, с сайта запрещено без письменного разрешения нашей мастерской.</p>
                    </div>
                    <div class="fillials">
                        <ul>
                            <li><a href="#">Gorod1</a></li>
                            <li><a href="#">Gorod2</a></li>
                            <li><a href="#">Gorod3</a></li>
                            <li><a href="#">Gorod4</a></li>
                            <li><a href="#">Gorod5</a></li>
                            <li><a href="#">Gorod6</a></li>
                            <li><a href="#">Gorod7</a></li>
                            <li><a href="#">Gorod8</a></li>
                            <li><a href="#">Gorod9</a></li>
                            <li><a href="#">Gorod10</a></li>
                            <li><a href="#">Gorod11</a></li>
                            <li><a href="#">Gorod12</a></li>
                            <li><a href="#">Gorod13</a></li>
                            <li><a href="#">Gorod14</a></li>
                            <li><a href="#">Gorod15</a></li>
                            <li><a href="#">Gorod16</a></li>
                            <li><a href="#">Gorod17</a></li>
                            <li><a href="#">Gorod18</a></li>
                            <li><a href="#">Gorod19</a></li>
                            <li><a href="#">Gorod20</a></li>
                            <li><a href="#">Gorod21</a></li>
                            <li><a href="#">Gorod22</a></li>
                            <li><a href="#">Gorod23</a></li>
                            <li><a href="#">Gorod24</a></li>
                            <li><a href="#">Gorod25</a></li>
                            <li><a href="#">Gorod26</a></li>
                            <li><a href="#">Gorod27</a></li>
                            <li><a href="#">Gorod28</a></li>
                            <li><a href="#">Gorod29</a></li>
                            <li><a href="#">Gorod30</a></li>
                            <li><a href="#">Gorod31</a></li>
                            <li><a href="#">Gorod32</a></li>
                            <li><a href="#">Gorod33</a></li>
                            <li><a href="#">Gorod34</a></li>
                            <li><a href="#">Gorod35</a></li>
                            <li><a href="#">Gorod36</a></li>
                            <li><a href="#">Gorod37</a></li>
                            <li><a href="#">Gorod38</a></li>
                            <li><a href="#">Gorod39</a></li>
                            <li><a href="#">Gorod40</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="top_btn">
        <a href="#top">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
</footer>
