<section class="by m_bottom fade_me">
    <h1><span class="orange_col">Продажа запчастей,</span>  по оптовым ценам</h1>
    <div class="text_p_block">
        <p class="text_p">Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
        <div class="hiden_block">
            <p class="text_p"> Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
            </p>
            <p class="text_p">Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
        </div>
        <a class="open_text" href="#">Подробнее 
        <i class="fa on_dis fa-angle-down" aria-hidden="true"></i>
        <i class="fa off_dis fa-angle-up" aria-hidden="true"></i>
        </a>
    </div>
     <!-- allert vozmozhno -->
    {% include 'layouts/alert_prodazha_zapchastej.html' %}
    <!-- ###allert vozmozhno -->
</section>
