<section class="by m_bottom fade_me">
    <h1><span class="orange_col">Продажа б/у техники,</span> с гарантией и доставкой</h1>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="tovar tech">
                <h2>СТИРАЛЬНАЯ МАШИНА <br>LG, 2008 ГОД</h2>
                <div class="price">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <div class="price_num">
                        <p class="num">3950 P.</p>
                        <p class="textin">на складе: <span>1</span> шт.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a class="next_btn" href="#">подробнее о товаре <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 fix_btn">
            <div class="last block">
                <div class="center">
                    <i class="fa fa_white fa-plug" aria-hidden="true"></i>
                    <p class="first_text">Более 100 моделей</p>
                    <p class="last_text">Б/У ТЕХНИКИ
                        <br>С ГАРАНТИЕЙ 1 ГОД</p>
                </div>
                <div class="btn_block">
                    <a class="btn_white" href="#">продать свою <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    <a class="btn_ful_or bold" href="#">вся техника <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
