<div class="line_h1_btn clearfix">
    <h2><span class="orange_col">ВОПРОС</span> ЧАСТНОМУ МАСТЕРУ</h2>
    <a class="btn_white bold" href="#">ЗАДАТЬ ВОПРОС</a>
</div>
<div class="block_question">
    <div class="mb_fix">
        <div class="line_name_time clearfix">
            <div class="name bold">
                Алина
            </div>
            <div class="time">
                сегодня
            </div>
        </div>
        <div class="question">
            <a href="#">Здравствуйте! ограничение в 60 символов делается в бэкэнде...</a>
        </div>
        <div class="answer_master">
            <i class="fa fa-vcard-o orange_col" aria-hidden="true"></i> <span class="bold">Ответ мастера</span>
        </div>
        <div class="answer">
            <a href="#">Алина, добрый день! <br>Здесь же нужно выставить ограничение на вывод информации в 150 символов, для повышения удобства или неудобства на сайте по ремонту.
            </a>
        </div>
    </div>
</div>
<div class="block_question">
    <div class="mb_fix">
        <div class="line_name_time clearfix">
            <div class="name bold">
                Алина
            </div>
            <div class="time">
                сегодня
            </div>
        </div>
        <div class="question">
            <a href="#">Здравствуйте! ограничение в 60 символов делается в бэкэнде...</a>
        </div>
        <div class="answer_master">
            <i class="fa fa-vcard-o orange_col" aria-hidden="true"></i> <span class="bold">Ответ мастера</span>
        </div>
        <div class="answer">
            <a href="#">Алина, добрый день! <br>Здесь же нужно выставить ограничение на вывод информации в 150 символов, для повышения удобства или неудобства на сайте по ремонту.
            </a>
        </div>
    </div>
</div>
<div class="block_question">
    <div class="mb_fix">
        <div class="line_name_time clearfix">
            <div class="name bold">
                Алина
            </div>
            <div class="time">
                сегодня
            </div>
        </div>
        <div class="question">
            <a href="#">Здравствуйте! ограничение в 60 символов делается в бэкэнде...</a>
        </div>
        <div class="answer_master">
            <i class="fa fa-vcard-o orange_col" aria-hidden="true"></i> <span class="bold">Ответ мастера</span>
        </div>
        <div class="answer">
            <a href="#">Алина, добрый день! <br>Здесь же нужно выставить ограничение на вывод информации в 150 символов, для повышения удобства или неудобства на сайте по ремонту.
            </a>
        </div>
    </div>
</div>
