<section class="rem_stir m_bottom fade_me">
    <h1><span class="orange_col">Ремонт</span> стиральных машин - Севастополь + 15 км пригород!</h1>
    <div class="alert_rem_stir">
        <p class="bold"><i class="fa fa-info-circle" aria-hidden="true"></i> Уважаемый клиент! Прочтите данную информацию и будьте осведомлены о наших условиях работы.</p>
    </div>
    <div class="text_rem_stir">
        <p>Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее, Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее, Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее. Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
        </p>
        <p class="bold">
            Почему клиенты обращаются к нам:
        </p>
        <ul class="list_star">
            <li>Грамотная консультация и определение поломки по телефону.</li>
            <li>Грамотная консультация и определение поломки по телефону.</li>
        </ul>
        <div class="hiden_block">
            <p class="text_p"> Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
            </p>
            <p class="text_p">Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
        </div>
        <a class="open_text" href="#">Подробнее 
        <i class="fa on_dis fa-angle-down" aria-hidden="true"></i>
        <i class="fa off_dis fa-angle-up" aria-hidden="true"></i>
        </a>
    </div>
    {% include 'layouts/remont_stiralnyh_mashin_alert.html' %}
</section>
