<aside>
    <div class="fixed_block">
        <div class="aside_block bounce_me one">
            <p class="title_aside">У Вас простой вопрос?</p>
            <p class="description">Задайте его мастеру прямо сейчас!</p>
            <a class="btn_white" href="#">НАПИСАТЬ</a>
        </div>
        <div class="aside_block bounce_me two">
            <p class="title_aside">Появилась в продаже:.</p>
            <p class="description">Б/У стиральная машина ARDO, 5500 Руб</p>
            <a class="btn_white" href="#">ПЕРЕЙТИ</a>
        </div>
        <div class="aside_block bounce_me three">
            <p class="title_aside">Новый видео-отзыв!</p>
            <p class="description">Клиент: Артём, Севастополь</p>
            <a class="btn_white" href="#">ПРОСМОТРЕТЬ</a>
        </div>
        <div class="aside_block bounce_me four">
            <p class="title_aside">Нет возможности отремонтировать?</p>
            <p class="description">Получите стиральную машину даром!</p>
            <a class="btn_white" href="#">УЧАСТВОВАТЬ</a>
        </div>
    </div>
</aside>
