<aside>
    <div class="fixed_block">
        <div class="close_block bounce_me two">
            <div class="close_btn">
            </div>
            <div class="fix_brd white_brd">
                <div class="block_sam">
                    <div class="brd_block">
                        <p class="text">У Вас простой вопрос?
                            <br>Задайте его мастеру прямо сейчас!</p>
                        <a class="butn_brd_orange bold" href="#">НАПИСАТЬ МАСТЕРУ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="close_block bounce_me three">
            <div class="close_btn">
            </div>
            <div class="fix_brd orange_brd">
                <div class="block_sam">
                    <div class="brd_block">
                        <p class="text"><span class="bold">Появилась в продаже:</span>
                            <br> Б/У стиральная машина ARDO, 5500 Руб.</p>
                        <a class="btn_ful_or bold" href="#">ПРОСМОТРЕТЬ ТОВАР!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="close_block bounce_me four">
            <div class="close_btn">
            </div>
            <div class="fix_brd orange_brd">
                <div class="block_sam">
                    <div class="brd_block">
                        <p class="text"><span class="bold">Новый видео-отзыв!</span>
                            <br> Клиент: Артём, Севастополь</p>
                        <a class="btn_ful_or bold" href="#">ПРОСМОТРЕТЬ ОТЗЫВ!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
