<section id="smi_about" class="m_bottom fade_me clearfix">
    <h1><span class="orange_col">СМИ,</span> О ЧАСТНОМ МАСТЕРЕ</h1>
    <!--  -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="blok_smi last">
                <h3 class="orange_col"><i class="fa fa-newspaper-o" aria-hidden="true"></i> SEVASTOPOL.SU</h3>
                <p class="text_p">Интервью с частным мастером, на крупном Севастопольском портале.</p>
                <a class="btn_white" href="#">подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="blok_smi last">
                <h3 class="orange_col"><i class="fa fa-newspaper-o" aria-hidden="true"></i> NEWS.SEVAS.COM</h3>
                <p class="text_p">Интервью со специалистом, просвещение всех тонкостей в работе.</p>
                <a class="btn_white" href="#">подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="blok_smi last">
                <h3 class="orange_col"><i class="fa fa-newspaper-o" aria-hidden="true"></i> ISKRA-SEV.RU</h3>
                <p class="text_p">Рассказ частного мастера о сложностях работы с налоговой системой.</p>
                <a class="btn_white" href="#">подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="blok_smi last">
                <h3 class="orange_col"><i class="fa fa-newspaper-o" aria-hidden="true"></i> PRIMECHNIYA.RU</h3>
                <p class="text_p">Интервью с частным мастером и о его заработке в Севастополе.</p>
                <a class="btn_white" href="#">подробнее <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
