<section class="opredel_neispr m_bottom fade_me">
    <h1><span class="orange_col">Цена</span> на ремонт стиральных машин в Севастополе</h1>
       <div class="allertino bdrs_5">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 img">
                <i class="fa fa_white fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
            <div class="col-xs-10 col-sm-7 col-md-7 col-lg-8">
                <h3>Ознакомьтесь с ценами на услуги</h3>
                <p class="text_p">Перед ремонтом просмотрите полный прайс-лист, будьте в курсе наших цен. Не забывайте, стоимость указана - без стоимости запчастей!
                </p>
            </div>
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3 col-lg-3 col-lg-offset-0 btn_allert">
                <a class="btn_ful_or" href="#">цены <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
