<p class="text_p">
    Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее: Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее.
</p>
<p class="text_p">Точная стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, прежде чем назвать цену. Но примерные ценовые диапазоны можно обозначить заранее:</p>
