<section class="video_otzyvy m_bottom fade_me">
   <h1><span class="orange_col">Видео-отзывы,</span> которые говорят сами за себя</h1>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 otzyv img_player">
            <a href="#">
                <img src="https://api.fnkr.net/testimg/335x200/333/eee/?text=video+placeholder">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 otzyv fix_btn">
            <div class="last block">
                <div class="center">
                    <i class="fa fa_white fa-youtube-play" aria-hidden="true"></i>
                    <p class="first_text">Более 250 видео-отзывов</p>
                    <p class="last_text">БЛАГОДАРНЫХ<br>КЛИЕНТОВ В СЕВАСТОПОЛЕ</p>
                </div>
                <div class="btn_block">
                    <a class="btn_white" href="#">оставить отзыв <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    <a class="btn_ful_or bold" href="#">все отзывы <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
